<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="globalError != empty" class="global-error alert alert-danger center container-fluid">{{ globalError }}</div>

<div class="container" style="text-align:left">
  <h1>{{ title }}</h1>
</div>

<div class="accounts container">

  <div class="add-accounts">

    <h2 id="addAccountsTitle">{{ addAccountsTitle }}</h2>

    <form (ngSubmit)="onSubmit(accountForm)" id="accountForm" #accountForm="ngForm">
      <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               class="form-control"
               [disabled]="!serverReady"
               [(ngModel)]="accountRequest.accountHolderName"
               #accountHolderName="ngModel"
               required/>

        <div [hidden]="accountHolderName.valid || accountHolderName.pristine" class="alert alert-danger">Name is required</div>
        <div *ngIf="nameError != empty" class="alert alert-danger">{{ nameError }}</div>
      </div>

      <div>
        <label for="cardNumber">Card Number</label>
        <input type="text"
               id="cardNumber"
               name="cardNumber"
               class="form-control ng-pristine ng-invalid"
               pattern="^[0-9()\-+\s]+$"
               maxlength="19"
               [disabled]="!serverReady"
               [(ngModel)]="accountRequest.cardNumber"
               #cardNumber="ngModel" required/>
        <div [hidden]="cardNumber.valid || cardNumber.pristine" class="alert alert-danger">Card Number is required</div>
        <div *ngIf="cardNumberError != empty" class="alert alert-danger">{{ cardNumberError }}</div>
      </div>

      <div>
        <label for="cardLimit">Limit</label>
        <input type="number"
               id="cardLimit"
               name="cardLimit"
               class="form-control"
               [disabled]="!serverReady"
               [(ngModel)]="accountRequest.cardLimit"
               #cardLimit="ngModel"
               required/>
        <div [hidden]="cardLimit.valid || cardLimit.pristine" class="alert alert-danger">Limit is required</div>
        <div *ngIf="limitError != empty" class="alert alert-danger">{{ limitError }}</div>
      </div>

      <div>
        <button type="submit" [disabled]="!accountForm.form.valid || !serverReady" class="btn btn-info">Add</button>
      </div>
    </form>
  </div>

  <div class="list-of-accounts">

    <h2 id="existingAccountsTitle">{{ existingAccountsTitle }}</h2>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Card Number</th>
        <th scope="col">Balance</th>
        <th scope="col">Limit</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.accountHolderName }}</td>
          <td>{{ account.card.cardNumber }}</td>

          <td *ngIf="account.card.balance == 'DEBIT'" class="debit">
            -{{ account.card.amount }}
          </td>

          <td *ngIf="account.card.balance == 'CREDIT' || account.card.balance == null">
          {{ account.card.amount }}
          </td>

          <td>{{ account.card.limit }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

