
.debit { color: red; }

table { border-collapse: collapse; text-align: center;}
table, th, tr, td { border: 1px solid rgba(86,61,124,.50) }
th { background-color: rgba(86,61,124,.15); }

div.add-accounts     {margin-top: 50px; width: 50%}
div.list-of-accounts {margin-top: 50px;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

div.add-accounts form div {margin-top: 30px;}

button[disabled] { background-color: grey; border: darkgray; }

.global-error {text-align: center; font-weight: bold;}
